.site__erreur{
  height: 70vh;


  .info__erreur {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
  }

  h1 {
    font-size: 7em;
    text-align: center;
    color: red;
  }
  
  h6 {
    // margin-top: 4em;
    text-align: center;
    color: red;
    padding: 2em;
    font-size: 20px;
  }

  .recherche__input {
      border: 3px solid red;
      border-right: none;
      padding: 5px;
      height: 36px; /* Ajusté à la taille du bouton */
      border-radius: 20px 0 0 20px;
      outline: none;
      color: #9DBFAF;
      width: 20rem;
      height: 4rem;
      margin-left: 2em;
    
      &:focus {
        color: #00B4CC;
      }

    @media screen and (min-width: $largeur__tablette) {
        width: 25rem; 
      
    }
    
    @media screen and (min-width: $largeur__bureau) {
      width: 70rem;
    
    }
    }
    
     .btn__recherche {
      right: 2rem;
      position: relative;
      padding: 20px;
      height: 4rem;
      border: 5px solid red;
      background: red;
      text-align: center;
      color: #fff;
      cursor: pointer;
      font-size: 20px;
      border-radius: 20px;
  }
    /* Redimensionnez le conteneur pour voir la barre de recherche changer ! */
    .wrap {
      width: 30%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

  }	

