.boite__modale {
  transform: scale(0);
  position: absolute;
  transition: transform 1s;
  width: 75%;
  padding: 20px;
  background-color: #A8DADC;
  border-radius: 30px;
  border: #457B9D 3px solid;

  h2 {
    color: #457B9D;
    padding-bottom: 50px;
  }

  h4 {
    color: #F1FAEE;
  }

}