/******************************** Categorie ***********************************/
.section__categorie {
  // padding: 20px 100px 20px 100px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  overflow: hidden;
  position: relative;
  
  .conteneur__texte {
    display: flex;
    flex-direction: column;
    width: 500px;
    text-align: center;
    
    h1 {
      padding: 20px 0 20px 0;
    }

    p {
      color: #ffffff;
      margin: 0;
    }

  }
  
  // LES BOUTONS POUR LES SESSIONS
  .btns__sessions{
    display: flex;
    justify-content: space-evenly;
    gap: 10px;

    .btn__session{
      background-color: #154569;
      border-radius: 10px;
      cursor: pointer;
      user-select: none;

      h4{
        padding: 5px;
        color: #A8DADC;
      }
    }

    .selectionner {
      background-color: rgb(137, 137, 137); /* Changez ceci en fonction de votre design */
    }

  }

  .conteneur__bloc {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;

    // margin-bottom: 100px;

   
  }

  //LES BOUTONS
  .btn__gauche,
  .btn__droite {
    width: 0;
    height: 0;
    border-style: solid;
    z-index: 100;
    position: absolute;
    top: 50%;
    cursor: pointer;
  }
  
  .btn__gauche {
    border-width: 20px 30px 20px 0;
    border-color: transparent #A8DADC transparent transparent;
    left: 5em;
  }
  
  .btn__droite {
    border-width: 20px 0 20px 30px;
    border-color: transparent transparent transparent #A8DADC;
    right: 5em;
  }
  
  .triangle-btn {
    position: relative;
    display: inline-block;
    margin: 10px;
    background-color: transparent; /* Set the desired background color */
    padding: 10px 20px; /* Adjust padding as needed */
    border: none;
    color: white; /* Set the text color */
    cursor: pointer;
  }

  .triangle-btn::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-style: solid;
  }

  .triangle-btn-left::before {
    left: 10px; /* Adjust the distance from the left */
    border-width: 10px 20px 10px 0;
    border-color: transparent #3498db transparent transparent;
  }

  .triangle-btn-right::before {
    right: 10px; /* Adjust the distance from the right */
    border-width: 10px 0 10px 20px;
    border-color: transparent transparent transparent #3498db;
  }
  
  // SECTION PROFS
  .class__profs {
    // flex-wrap: nowrap;
    align-items: center;
  }

  // SECTION TEMOIGNAGE
  .class__temoignage{
    flex-wrap: nowrap;
    width: 90vw;
  }

  // SECTION COURS
  .class__cours {
    // flex-wrap: nowrap;
    width: 80%;
  }

  // SECTION ETUDIANTS
  .class__etudiants {
    width: 90%;
  }
  // SECTION STAGE
  .class__stage {
    width: 90%;

    
  }

  .session1 {
    display: flex;
  }
  .session2 {
    display: none;
  }
  .session3 {
    display: none;
  }
  .session4 {
    display: none;
  }
  .session5 {
    display: none;
  }
  .session6 {
    display: none;
  }
  
}