/* width */
.blocflex__galerie, .thematiques-cours {
  ::-webkit-scrollbar {
      width: 20px;
      background-color: #A8DADC;
      border-radius: 10px;
      // padding: 10px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
      border-radius: 10px;
    }
      
    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: #457B9D; 
      border-radius: 10px;
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #4080a8; 
  }
}

.conteneur__projet {
  ::-webkit-scrollbar {
    width: 20px;
    background-color: #ffffff;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }
    
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #6898b6; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #4080a8; 
}
}
