.site__entete { // entête du site

  /* Barre de navigation dans l'entête */
  .entete__nav { // barre de navigation
    position: sticky;
    z-index: 10;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #154569;
    margin: 0;

    @media screen and (min-width : $largeur__bureau) {
      flex-direction: row;
    }

    /* Logo dans l'entête */
    .menu__logo {
      .custom-logo-link img { // logo
        width: 85px;
        height: auto;
        padding-top: 10px;
        padding-left: 20px;

        @media screen and (min-width : $largeur__bureau) {
          // Styles spécifiques pour les grands écrans
        }
      }
    }

    /* Navigation avec bouton burger et recherche */
    .menu__nav {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: center;
      align-self: center;

      @media screen and (min-width : $largeur__bureau) {
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        border-left: none;
      }

      /* Menu dans l'entête */
      .menu__entete {
        display: none;
        opacity: 0;

        @media screen and (max-width : $largeur__tablette) {
          #menu-entete{ // ul;
            // ... autres styles ...
            transform: translateX(100%);
            animation: slideIn 0.5s forwards;
          } 
        
          @keyframes slideIn {
            0% {
              transform: translateX(100%);
            }
            100% {
              transform: translateX(0);
            }
          }
        }

        @media screen and (max-width : $largeur__bureau) {
        #menu-entete{ // ul;
          // ... autres styles ...
          transform: translateX(100%);
          animation: slideIn 0.5s forwards;
        } 
        
        @keyframes slideIn {
          0% {
            transform: translateX(100%);
          }
          100% {
            transform: translateX(0);
          }
        }
      }
       
       

        @media screen and (min-width : $largeur__bureau) {
          display: flex;
          align-items: center;
          opacity: 1;
        }
     

        .menu { // ul;
          background: #457B9D;
          border-bottom-left-radius: 30px;
          border-bottom-right-radius: 30px;
          display: flex;
          list-style-type: none;
          flex-direction: column;
          justify-content: space-around;
          width: 100%;
          height: 90vh;
          align-items: center;
          padding: 0;
          margin: 0;
          gap: 20px;
         
         
          @media screen and (max-width:$largeur__tablette) {
            padding-top: 80px;
            padding-right: 10px;
          }
         
      
          @media screen and (min-width:$largeur__bureau) {
            background: none;
            position: static;
            width: auto;
            top: auto;
            right: auto;
            flex-direction: row;
            height: auto;
          }

          /* Styles pour chaque élément de la liste */
          .menu-item {
            position: relative;

            a { // Styles pour les liens
              text-decoration: none;
              padding-bottom: 30px;
              color: #ffffff;
              font-size: 1rem;
              font-weight: bold;
              margin: 20px;
              transition: color 1s ease;
              position: relative;

              &:hover {
                color: #b2e1ff;
              }

              @media screen and (min-width:$largeur__bureau) {
                &:hover {
                  color: #ffffff;
                }
                
                &::after {
                  content: '';
                  position: absolute;
                  width: 100%;
                  transform: scaleX(0);
                  height: 2px;
                  top: 20px;
                  left: 0;
                  background-color: #4080a8;
                  transform-origin: bottom right;
                  transition: transform 0.25s ease-out;
                }
                
                &:hover::after {
                  transform: scaleX(1);
                  transform-origin: bottom left;
                }
              }
            }

            .sub-menu { // Sous-menu
              flex-direction: column;
              justify-content: space-between;
              align-items: center;
              // position: r;
              top: 38px;
              display: flex;
              //top: 58px;
              list-style: none;
              width: 100%;
              padding-top: 5px;
              height: 100%;
              // padding-top: 50px;
              padding-left: 0;
              gap: 20px;
              // right: 20px;

              @media screen and (min-width:$largeur__bureau) {
                display: none;
                position: absolute;
              }

              /* Styles pour les liens du sous-menu */
              a {
                color: #ffffff;
                padding-top: 10px;
                padding-bottom: 10px;
                margin-bottom: 20px;
                position: relative;

                &::after {
                  top: 100px;
                }

                @media screen and (min-width:$largeur__bureau) {
                  color: #457B9D;

                  &::after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    transform: scaleX(0);
                    height: 2px;
                    top: 30px;
                    left: 0;
                    background-color: #457B9D;
                    transform-origin: bottom right;
                    transition: transform 0.25s ease-out;
                  }
                  
                  &:hover::after {
                    transform: scaleX(1);
                    transform-origin: bottom left;
                  }
                }

              }

            }

          }

        }

        @media screen and (min-width:$largeur__bureau) {
          /* Styles pour le survol sur les futurs étudiants */
          .futur__etudiants:hover .sub-menu {

            width: 100%;
            height: 250px;
            display: flex;
            flex-direction: column;
            // align-items: center;
            justify-content: space-around;
            background-color: #F1FAEE;
            border: 3px solid #457B9D;
            border-radius: 0 0 30px 30px ;
            position: absolute;
            z-index: 10;
            opacity: 1;
            transition: opacity 0.5s ease;

            //padding-top: 30px;
          }
        }
      }

      /* Bouton Burger */
      #cc__bouton__burger {
        display: none;
        
      }

      .bouton__burger__conteneur {
        padding: 20px;
        
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
        @media screen and (min-width:$largeur__bureau) {
          display: none;
        }
      }

      .bouton__burger__conteneur div {
        position: relative;
        top: 0;
        height: 5px;
        background-color: #ffffff;
        margin-bottom: 4px;
        transition: 0.3s ease;
        border-radius: 2px;
        
      }

      .bouton__burger__conteneur div:first-child {
        transform-origin: 0% 0%;
      }

      input:checked ~ .bouton__burger__conteneur div:first-child {
        transform: rotate(-25deg) translate(2px, 1px);
      }

      .bouton__burger__conteneur div:last-child {
        margin-bottom: 0;
        transform-origin: 60px;
      }
      
      input:checked ~ .bouton__burger__conteneur div:nth-child(2) {
        opacity: 0;
      }

      .bouton__burger__conteneur div:nth-child(2) {
        transform-origin: 0% 0%;
        right: 10px;
        width: 30px;
        
      }
      input:checked ~ .bouton__burger__conteneur div:last-child {
        transform: rotate(30deg) translate(-2px, -1px);
       

      }

     
      #cc__bouton__burger:checked ~ .menu__entete {
        display: flex;
        width: 100%;
        height: 70%;
        position: fixed;
        right: 0;
        top: 0;
        padding-top:30px;
        text-align: center;
        opacity: 1;
        transition: opacity 5s;

       
      

        @media screen and (min-width:$largeur__bureau) {
          position: static;
        }
      }

      #cc__bouton__burger:checked ~ .bloc__couleur {
        @media screen and (max-width:$largeur__bureau) {
          position: fixed;
          top: 0;
          left: 0;
          width: 100vw;
          height: 100vh;
          overflow: hidden;
          background-color: rgb(0, 0, 0);
          z-index: 11;
        }
      }

      #cc__bouton__burger:checked ~ .bouton__burger__conteneur {
        z-index: 12;
        position: fixed;
        right: 0;
      }
    }
  }
}