.site__entete{ // entete du site

  /* ///////////////////////////////////// entete barre de navigation */
  .entete__nav { // barre de navigation
    position: sticky;
    z-index: 10;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #154569;
    margin: 0;

    @media screen and (min-width : $largeur__bureau) {
      flex-direction: row;
    }
    
    .menu__logo { // logo dans entete

      .custom-logo-link img { // logo
        width: 85px;
        height: auto;
        padding-top: 10px;

        @media screen and (min-width : $largeur__bureau) {
          padding-left: 20px;
        }

      }

    }

    .menu__nav { // nav avec bouton burger et recherche
      display : flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: center;
      align-self: center;

      @media screen and (min-width : $largeur__bureau) {
          flex-direction: row;
          align-items: center;
          justify-content: flex-end;
          padding-top: 10px;
          border-left: none;
      }

      /* ////////////////////////////// menu entete */
      .menu__entete { // nav
        display: none;
        opacity: 0;

        @media screen and (min-width : $largeur__bureau) {
          display: flex;
          opacity: 1;
        }

        .menu { // ul
          width: 50%;
          background:#A8DADC;
          display: flex;
          list-style-type: none;
          flex-direction: column;
          padding-right: 20px;
          gap: 5px;
          padding: 10px;
          top: 3rem;
          right:0;

          @media screen and (min-width:$largeur__bureau) {
            position : static;
            top: auto;
            right:auto;
            flex-direction: row;
            transform : translateX(0);
        }
    
          .menu-item { // li
            position: relative;

            a {
              padding : 3px 5px;
              text-decoration: none;
              color: #ffffff;
              font-size: 1.1rem;
              font-weight: bold;
              transition: color 1s ease;
            }

            a:hover {
              color: #457B9D;
              text-decoration: underline;
            }

            .sub-menu {
              display: none;
              flex-direction: column;
              align-items: center;
              gap: 10px;
              border-radius: 0 0 30px 30px;
              position: absolute;
              list-style: none;
              width: 100%;
              padding: 10px;
              background-color: #F1FAEE;
              border: 3px solid #457B9D;
              
              a {
                color: #457B9D;
              }
              a:hover {
                text-decoration: underline;
              }
            }
            /* Afficher le sous-menu lorsque .menu-item est survolé */
            &:hover .sub-menu {
              display: flex;
            }
          }

        } // FIN ul
    
      } // FIN navigation

      /* ////////////////////////////// bouton burger */

      #cc__bouton__burger {
        display: none;
        

      }

      .bouton__burger__conteneur {
        padding: 20px;

        @media screen and (min-width:$largeur__bureau) {
          display: none;
        }

      }
      .bouton__burger__conteneur div {
        position: relative;
        top: 0;
        height: 5px;
        background-color: #ffffff;
        margin-bottom: 4px;
        transition: 0.3s ease;
        border-radius: 2px;
      }

      .bouton__burger__conteneur div:first-child {
        transform-origin: 0% 0%;
      }
      .bouton__burger__conteneur div:last-child {
        margin-bottom: 0;
        transform-origin: 60px;
      }
      .bouton__burger__conteneur div:nth-child(2) {
         transform-origin: 0% 0%;
        right: 0;
        width: 30px;
        right: 10px;
      }

      // menu burger checker
      #cc__bouton__burger:checked ~ .menu__entete {
        display: flex;
        width: 100%;
        height: 50%;
        position: fixed;
        top: 115px;
        text-align: center;
        z-index: 12;
        opacity: 1;
        transition: opacity 5s;

        @media screen and (min-width:$largeur__bureau) {
          position: static;
        }
      }
      #cc__bouton__burger:checked ~ .bloc__couleur {
        @media screen and (max-width:$largeur__bureau) {
          position: fixed;
          top: 0;
          left: 0;
          width: 100vw;
          height: 100vh;
          overflow: hidden; 
          background-color: rgb(0, 0, 0); 
          z-index: 11; 
        }
      }
      #cc__bouton__burger:checked ~ .bouton__burger__conteneur {
        z-index: 12;
        position: fixed;
        right: 0;

      }
    } // FIN nav avec bouton burger

  } // FIN barre de navigation

} // FIN site entete