.section__presentation {
  display: flex;
  width: 100%;
position: relative;
  
  

  .section__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 50%;
    background-color: #F1FAEE;
    color: #0077B6;

    @media screen and (max-width : $largeur__mobile) {
      width: 100%;
      }

      @media screen and (max-width : $largeur__tablette) {
        width: 100%;
        
        }
        @media screen and (min-width : $largeur__tablette) {
          width: 100%;
          
          }
       
     
      

    h3 {
      text-align: center;
      width: 75%;
      font-size: 1.5rem;
      
    }

    .conteneur__btn {
      display: flex;
      gap: 30px;
      margin: 10px;
      flex-direction: column;
      z-index: 2;
      padding-bottom: 30px;

      @media screen and (min-width : $largeur__bureau) {
        flex-direction: row;
        }
    
      .btn {
        width: 250px;
        height: 75px;
        background-color: #457B9D;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        border-radius: 15px;
        transition: transform 0.3s ease;
        a {
          // display: block;
          text-align: center;
          color: white;
          font-weight: bold;
          font-size: 1.2rem;
        }
        
      }
      .btn:hover{
        transform: scale(1.2); 
      }

      

    }
  }
  .affiche__img { 
    height: 95vh;
    height: calc(100vh - 100px);
     
    

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      @media screen and (max-width : $largeur__mobile) {
        display: none;
        }
        @media screen and (max-width : $largeur__tablette) {
          display: none;
          }
          @media screen and (min-width : $largeur__tablette) {
            display: none;
            }
            @media screen and (min-width : $largeur__bureau) {
             display: flex;
              }
           
         
       
    }

   

  }
  
}



/* Ajuster la largeur maximale de la vidéo */
.wp-block-embed.is-provider-youtube {
  max-width: 100vw;
  margin: 0 auto; /* Centre la vidéo horizontalement */
  position: relative;
  display: block;
  margin-top: 50px;

  @media screen and (min-width : $largeur__bureau) {
    max-width: 70vw;
  }

  iframe {
    width: 100%;
    height: calc(100vw * 9 / 16); /* Calculez la hauteur en fonction du rapport 16:9 */

    @media screen and (min-width : $largeur__bureau) {
      height: calc(70vw * 9 / 16); /* Calculez la hauteur en fonction du rapport 16:9 */
    }

  }
}

.thematiques-cours {
  margin: 5em auto;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .cours {
    margin-top: 2em;
    width: 100%;
    max-height: 100vh; /* Limite la hauteur du conteneur à 100vh */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    
    .boite {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      border: 2px solid #3D6D8C;
      border-radius: 30px;
      background-color: #457B9D;
      margin: 10px; /* Espace autour des boîtes de cours */
      height: 100px;
      width: 40%;
      cursor: default;

      h5 {
        color: rgb(255, 255, 255);
      }

    }
    
  }

}

.texte-descriptif{
 margin-left: 20px;
 padding-bottom: 80px;
 text-align: center;

 p{

  @media screen and (min-width : $largeur__tablette) {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-size: 1.2rem;
  }

  @media screen and (min-width : $largeur__bureau) {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    font-size: 1.5rem;
  }

 }
}
.citation{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  @media screen and (min-width : $largeur__bureau) {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 20px;
  }


  h3{
    margin: 10px;
  }
}