.vague { // pour toute les vagues
  max-width: 100%;
  overflow-x: hidden;
}


.vague__haut__pdp {  // vague du haut du pied de page 
  // z-index: 0; // Assure que la vague est en dessous des autres éléments
  width: 100%;
  // z-index: 1;
  position: absolute;
  position: 0;
  left: 0;
  height: auto;

  svg {
   display: flex;
   align-items: flex-end; 
  }
}
.monter{
  bottom: 75px;
}
.normal {
  bottom: 0;
}


.vague__haut__front {
  width: 100%;
  position: absolute;
  bottom: 0;

  svg {
    width: 100%;
    height: auto;
    z-index: 1;
    padding-top: 280px;
    display: flex;
    
    @media screen and (min-width : $largeur__tablette) {
      padding-top: 250px;
    }
  }
} 

.vague__general {
  position: absolute;
  width: 100%;
  svg {
    width: 100%;
    height: auto;

    @media screen and (min-width : $largeur__bureau) {
      width: auto;
    }
  }
}

 .vague__millieu__front {
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  height: auto;

 svg{
    width: 100%;
    height: auto;
    // z-index: 1;
    // padding-top: 150px;
    display: flex;
    
    @media screen and (min-width : $largeur__tablette) {
      // padding-top: 250px;
    }
 }
 
 }

.vague__bas__pdp {
  z-index: 0; // Assure que la vague est en dessous des autres éléments
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0;
  left: 0;

  svg {
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-end; 
  }
}