/******************************** Cours ***********************************/
.blocflex__cours {
  // display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  border-radius: 30px;
  // border: 1px solid black;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;

  width: 285px;
  height: 150px;

  .sigle {
    text-align: center;
    height: 40%;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #154569;
    justify-content: center;
  }

  .titre__cours {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 60%;
    width: 100%;
    padding: 10px;
    background-color: #F1FAEE;
    color: #1E5076;

    h6{
      padding: 5px;
    }

  }

}