/******************************** Evenement ***********************************/
a {

  .blocflex__evenement {
    display: flex;
    flex-direction: column;
    background-color: #457B9D;
    width: 450px;
    height: 375px;
    border-radius: 30px;
    overflow: hidden;
    transition: transform 0.3s ease;
    .blocflex__images {
      height: 50%;
      width: 100%;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }

    }
    
    .blocflex__description {
      height: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 10px;

      //h6 {}
  
      p {
        text-align: center;
      }
  
    }

    
  }
  .blocflex__evenement:hover {
    transform: scale(1.2); 
    background-color: #457B9D;
  }

}